# Ignorer alt som udgangspunkt
*

# Medtag kun de filer og mapper, der skal versionsstyres
!.gitignore
!instagram_rss.py
!profiler.txt
!test_*.py
!docs/
!docs/**
!scripts/
!scripts/**
!public/
!public/**
!netnewswire/
!netnewswire/**

# Disse docs skal kun være lokale
README.md
docs/TODOS.md
docs/VPN_ISSUES.md
