# Ignorer alt som udgangspunkt
*

# Medtag kun de filer og mapper, der skal versionsstyres
!.gitignore
!instagram_rss.py
!profiler.txt
!test_*.py
!scripts/
!scripts/**
!public/
!public/**
!netnewswire/
!netnewswire/**

# Disse filer og mapper skal kun være lokale
README.md
docs/
